
td.tdRight{
  text-align: right;
}
.table td.tdCenter {
  text-align: center;
}

.table-nonfluid {
   width: auto;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

