<p class="text-info">
    Welcome to the Xact Pets<br />
    Please select the products you want and add them to your shopping cart.<br />
    When you are done, click the shopping cart icon to review your order and check out.
</p>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Food Search" ng-model="searchFood">
        </div>      
    </div>
</form>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="well">
    <td class="tdRight" colspan="4">
      <a href="#/cart" title="go to shopping cart"
         ng-disabled="getTotalCount() < 1">
         <i class="icon-shopping-cart" />
         <b>{{getTotalCount()}}</b> items,
         <b>{{getTotalPrice() | currency}}</b>
      </a>
    </td>
    </tr>
    <tr>
        <td>            
        </td>
        <td>
            <a href="#/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                Price
            <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
        </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products | orderBy:sortType:sortReverse | myCustomTableFilter:searchFood" >
        <td>
          <img ng-src="img/products/{{product.id}}.jpg" alt="{{product.name}}" />
        </td>
        <td class="max_col_width">
          <a href="#/products/{{product.id}}"><b>{{product.name}}</b></a>
          <br /><span ng-bind-html="product.shortdescription"></span>
        </td>
        <td class="tdRight">
          {{product.price | currency}}
        </td>
        <td class="tdCenter">
          <a href="#/" 
           ng-click="addItem(product.id, product.name, product.price, 1)">
             add to cart
          </a>
        </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="well">
    <td class="tdRight" colspan="4">
      <a href="#/cart" title="go to shopping cart"
         ng-disabled="getTotalCount() < 1">
         <i class="icon-shopping-cart" />
         <b>{{getTotalCount()}}</b> items,
         <b>{{getTotalPrice() | currency}}</b>
      </a>
    </td>
    </tr>
  </tfoot>
</table>